@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap&#39;);

:root{
    --bg-color: #181C14;
    --primary-color: #ECDFCC;
}